:root {
    --color1 : rgba(203, 205, 192, 1);
    --color2 : rgba(202, 164, 93, 1);
    --color3 : rgba(202, 147, 46, 1);
    --color4 : rgba(29, 56, 86, 1);
    --color5 : rgba(10, 39, 71, 1);
    --color6 : rgba(15, 31, 47, 1);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", serif;
}
body{
    height: 100vh;
    width: 100%;
}
.containerNav{
    position: fixed;
    margin-top: 100px;
    height: 60px;
    width: 100%;
    background-color: var(--color4);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}
.containerNav a{
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    background-color: var(--color1);
    border-radius: 6px;
    color: var(--color6);
}
.footerFix{
    height: 40px;
    width: 100%;
    background-color: var(--color4);
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerFix p{
    color: var(--color1);
    margin-right: 40px;
}
.footerFix i{
    margin-left: 20px;
    color: var(--color1);
}
.container1{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
}
.container1Left{
    background-color: var(--color1);
}
.container2Right{
    background-color: var(--color2);
}


