:root {
    --color1 : rgba(203, 205, 192, 1);
    --color2 : rgba(202, 164, 93, 1);
    --color3 : rgba(202, 147, 46, 1);
    --color4 : rgba(29, 56, 86, 1);
    --color5 : rgba(10, 39, 71, 1);
    --color6 : rgba(15, 31, 47, 1);
}
*{
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", serif;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    max-width: 1200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imageLogo{
    width: 30%;
    margin-top: 200px;
}
#logo{
    height: auto;
    width: 100%;
    object-fit: cover;
}
.container1{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    perspective: 1000px;
}
.container1Left{
    width: 40%;
    height: 600px;
    transform-style: preserve-3d;
    border: 2px solid gray;

}
.container1Face{
    height: 100%;
    background-color: white;
    padding: 2%;
    backface-visibility: hidden;
    position: absolute;
    border-radius: 20px;
}
.container1Dos{
    height: 100%;
    background-color: white;
    padding: 2%;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    border-radius: 20px;
}
.container1Left:hover {
    transition: transform 1s ease;
    transform: rotateY(180deg);
}
.container1Right{
    background-color: bisque;
    width: 40%;
}
.container2{
    width: 100%;
    display: flex;
    min-height: 300px;
}
.container2Left{
    width: 60%;
    min-height: 300px;
    background-color: bisque;
    clip-path: polygon(0% 0%, 100% 50%, 100% 100%, 0% 100%);
    border-radius: 20px;
}
.container2Right{
    width: 60%;
    background-color: coral;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%, 0% 100%);
    border-radius: 20px;
}
.container3{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.container3Left{
    width: 40%;
    background-color: bisque;
}
.container3Right{
    width: 40%;
    background-color: bisque;
}
.container4{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.container4Left{
    width: 40%;
    background-color: bisque;
}
.container4Right{
    width: 40%;
    background-color: bisque;
}
footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
}
