*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(203, 205, 192, 1);
}
.containerHeader{
    margin-top: 100px;
    height: 60px;
    width: 100%;
    background-color: rgba(29, 56, 86, 1);
}